.navigation_list {
  display: flex;
  align-items: center;
}
.navigation_list,
.navigation_item + .navigation_item {
  margin-left: 50px;
}
.header_logo {
  display: inline;
  margin-right: 93px;
  color: var(--logo-black-color);
  & span {
    color: var(--accent-blue-color);
  }
}
.logo {
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 1.19, null);
}

.header_container {
  display: flex;
  align-items: center;
  @include font(700, 14px, 1.14, 0.02em);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &_container {
    display: flex;
    align-items: center;
  }
}

.navigation_link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--header-link-color);
}
.header_connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.connect .connect_contact + .connect_contact {
  margin-left: 50px;
}
.accent:hover,
.accent:focus {
  color: var(--accent-blue-color);
}

.connect_mail,
.connect_tel {
  color: var(--main-body-color);
}
.icon,
.header_logo {
  margin-right: 10px;
  fill: currentColor;
}
.current {
  color: var(--accent-blue-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-blue-color);
  }
}
