.inform {
  padding-top: 0;
}
.inform-list {
  display: flex;
  column-gap: 30px;
}
.inform-item {
  width: calc((100% - 60px) / 3);
}
.inform-title {
  margin-bottom: 50px;
}
.inform-img-thumb {
  position: relative;
}
.text-inform {
  position: absolute;
  @extend %flex;
  bottom: 0;
  width: 370px;
  height: 70px;
  @include font(700, 14px, 1.14, null);
  text-transform: uppercase;

  color: var(--btn-white-color);
  background: var(--back-inform-text-color);
}
